*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: black;
    background-image: url("../../assets/closeFace.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity as needed */
}

.hero-section-content {
    position: relative;
    z-index: 1;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: white;
}

.hero-section .btn {
    font-size: 1.2rem;
}

.section {
    position: relative;
    height: 100vh;
}

.section-content {
    position: relative;
    z-index: 1;
}

.navbar {
    /* background-color: #6f0f0f; */
    /* border-bottom: 1px solid #ddd; */
    /* padding: 10px 20px; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.navbar.hidden {
    opacity: 0;
    visibility: hidden;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-toggler {
    display: block;
    cursor: pointer;
    /* padding: 10px; */
    background-color: transparent;
    border: none;
    z-index: 1;
}

.navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333333;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.navbar-toggler.open span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.navbar-toggler.open span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler.open span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.navbar .navbar-nav {
    margin-left: auto;
}

.navbar .navbar-nav .nav-link {
    color: #d9d9d9;
    font-size: 1rem;
    margin-left: 20px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #555;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #555;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}




/* WHAT IS MENTAL HEALTH SECTION *START* */

section.what_is_mhealth{
    background: linear-gradient(to bottom, white,white,rgb(131, 255, 100));
}


section.what_is_mhealth div.head{
    text-align: center;
}

section.what_is_mhealth h4.title{
    margin-bottom: 5px;
}

p,ul{
    margin: 0 0 15px;
    /* padding: 15px; */
}

section.what_is_mhealth div.main-content{
    padding: 15px;
}

section.what_is_mhealth div.subs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.what_is_mhealth div.subs div.sub-left,div.sub-right{
    width: 98%;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.573);
}


section.what_is_mhealth div.subs div.line{
    width: 80%;
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
}

/* section.what_is_mhealth div.subs div.sub-right{
    padding: 15px
    width
} */

section.what_is_mhealth div.subs div.sub-right ul{
    padding: 15px
}

@media screen and (min-width: 720px) {
    section.what_is_mhealth div.main-content{
        width: 85%;
        /* background-color: greenyellow; */
        margin: 0 auto;

        text-align: center;
    }

    p.tit{
        margin-bottom: 0;
    }

    section.what_is_mhealth div.subs{
        width: 85%;
        /* background-color: gold; */
        margin: 0 auto;
    }

    section.what_is_mhealth div.subs{
        flex-direction: row;
        justify-content: space-around;
    }

    section.what_is_mhealth div.subs div.line{
        width: 3px;
        height: 400px;
        background-color: rgb(70, 70, 70);
        border-radius: .2em;
        /* margin-bottom: 10px; */
    }

    section.what_is_mhealth div.subs div.sub-left,div.sub-right{
        width: 45%;
        box-shadow: none;
    }

}
/* WHAT IS MENTAL HEALTH END  */



/* MENTAL HEALTH CONDITIONS START */
/* lets start with mobile design first */

section.mhealth_conditions div.head{
    text-align: center;
    margin: 20px 0;
}

section.mhealth_conditions div.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}

section.mhealth_conditions div.cards div.card {
    width: 93%;
    min-width: 300px;

    margin: 5px auto 15px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.6);
    border-radius: .3em;
    cursor: pointer;

    display: flex;
    flex-direction: column;
}

section.mhealth_conditions div.cards div.card div.img {
    background-color: red;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
}

section.mhealth_conditions div.cards div.card div.img1{
    background-image: url('');
}

section.mhealth_conditions div.cards div.card div.img2{
    background-image: url('');
}

section.mhealth_conditions div.cards div.card div.img3{
    background-image: url('');
}

section.mhealth_conditions div.cards div.card div.content {
    padding-top: .4em;
    padding: 15px;
    transition: .25s ease;
}

section.mhealth_conditions div.cards div.card div.content:hover {
    background-color: rgb(0, 0, 0, 1);
    color: #fff;
    cursor: copy;

}

section.mhealth_conditions div.cards div.card div.content div.link {
    margin-top: 1em;
    text-align: center;
}

section.mhealth_conditions div.cards div.card div.content div.link a {
    text-decoration: none;
    color: white;
}

section.mhealth_conditions div.cards div.card div.content div.link a:hover {
    text-decoration: none;
    color: white;
}


section.mhealth_conditions div.prologue {
    width: 95%;
    margin: 30px auto 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section.mhealth_conditions div.prologue p {
    padding: 20px;
    text-align: center;
}


@media screen and (min-width: 720px) {

    section.mhealth_conditions div.cards {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }

    section.mhealth_conditions div.cards div.card {
        width: 350px;
        height: 70vh;
    }

    section.mhealth_conditions div.prologue {
        width: 80%;
    }

}

/* MENTAL HEALTH CONDITION END */