/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
/*General*/




*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
    position: fixed;
}

div.hero-section{
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/mentalHealth2.jpg');
    background-size: cover;
    background-position: center;
}


div.parAbt{
    height: 100vh;
    background: linear-gradient(to right,#ccd0d5,#dcdde1,#cbccd1);
    /* width: 95%; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.main-content{
    /* background-color: gold; */
    font-family: 'Lato';
    height: 25%;
    width: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.subs{
    /* background-color: aquamarine; */
    font-family: 'Lato';
    width: 85%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.line{
    height: 30vh;
    width: 3px;
    background-color: black;
}

div.sub{
width: 40%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

p.sub-para{
    margin-bottom: 15px;
}

div.parAbt div.head{
    font-family: 'Lobster';
    height: 10%;
    /* background-color: green; */
    display: flex;
    align-items: center;
}

section.part{
    font-family: 'Lobster';
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


div.partners{
    /* font-family: 'Lobster'; */
    display: flex;
    flex-wrap: wrap;
}

div.pic{
    height: 200px;
    width: 200px;
    /* background-color: blue; */
    margin: 20px;
    border-radius: 50%;

    background-size: cover;
    background-repeat: no-repeat;
    /* animation: movePartner 20s linear infinite; */
}

div.pic1{
    background-image: url('../assets/mentalHealth1.jpg');
}

div.pic2{
    background-image: url('../assets/mentalHealth3.jpg');
}

div.pic3{
    background-image: url('../assets/meditation.jpg');
}

div.pic4{
    background-image: url('../assets/aware2.jpeg');
}

div.pic5{
    background-image: url('../assets/aware1.jpeg');
}


/* Achievement */

section.achievement{
    font-family: 'Diphylleia';
    /* background-color: beige; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

section.achievement div.head{
    font-family: 'Lobster';
    height: 20vh;
    /* background-color: rgb(233, 255, 33); */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.achievement div.awards{
    /* height: 85vh; */
    width: 100vw;
    margin: 0 auto;
    /* background-color: rgb(0, 210, 105); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex: 2; */
}

section.achievement div.award{
    width: 600px;
    height: 150px;
    /* margin: 0 10px 10px; */
    margin: 20px;

    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.profile-pic{
    height: 100px;
    width: 100px;
    /* background-color: red; */
    margin-right: 15px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

div.pic-one{
    background-image: url('../assets/award4.webp');
}

div.pic-two{
    background-image: url('../assets/award2.jpg');
}

div.pic-three{
    background-image: url('../assets/award1.jpg');
}

div.pic-four{
    background-image: url('../assets/award7.webp');
}

div.explain{
    width: 400px;
    overflow: hidden;
}


div.arc2{
    /* background-color: aqua; */
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

div.arc2 p{
    color: black;
    font-weight: 600;
}

footer{
    background-color: black;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}


@media screen and (max-width: 700px){
    body{
        /* background-color: red; */
    }

    div.hero-section{
        height: 300px;
    }

    div.parAbt{
        height: auto;
    }

    div.parAbt div.head{
        margin-bottom: 20px;
        text-align: center;
    }

    div.main-content p.p1{
        margin-bottom: 15px;
    }

    div.main-content p.p2{
        text-align: left;
        margin-bottom: 20px;
    }

    div.subs{
        flex-direction: column;
    }

    div.sub{
        width: 100%;
        margin: 25px 0;
    }

    div.line{
        height: 3px;
        width: 80vw;
    }

    section.part{
        height: auto;
    }

    div.partners{
        justify-content: center;
        align-items: center;
        
    }



    /* Achievement */
    section.achievement{
        flex-direction: column;
        height: auto;
    }

    section.achievement div.awards{
        flex-direction: column;
    }

    div.subs{
        flex-direction: column;
    }


    section.achievement div.award{
        width: 350px;
        margin: 0;
        height: auto;
        padding: 20px;
        /* background-color: blue; */
        margin: 0 0 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.668);
    }
    

    div.explain{
        width: 350px;
        overflow: hidden;
        padding: 15px;
    }

    div.award{
        flex-direction: column;
    }

    footer{
        height: 100px;
        text-align: center;
    }

    section.achievement div.head{
        /* background-color: black; */
        height: 20vh;
        /* color: white; */
        margin: 50px auto 30px;
    }

    div.head{
        /* background-color: black; */
        height: 10vh;
        /* color: white; */
        margin: 40px auto 0;
    }

    div.arc2{
        width: 90%;
        text-align: center;
    }
}