.one{
float: left;
width: 600px;
height: 700px;
border: 2px solid black;
padding: 20px;

}
.two{
    float: right;
    width: 600px;
    height: 700px;
    padding: 20px;
    border: 2px solid black;

}
.row{
    padding: 22px;
}