/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
/*General*/


/* For NAVBAR ONLY */

.navbar {
    background-color: white;
    height: 50px;
    /* border-bottom: 1px solid #ddd; */
    /* padding: 10px 20px; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.hero-navbar {
    /* Add your desired styles for the navbar on the hero-section page */
    background-color: transparent;
    color: white;
  }
  

.navbar.hidden {
    opacity: 0;
    visibility: hidden;
}

.navbar .navbar-brand {
    font-family: 'Dancing Script';
    font-size: 1.8rem;
    font-weight: 700;
}

.navbar-toggler {
    display: block;
    cursor: pointer;
    /* padding: 10px; */
    background-color: transparent;
    border: none;
    z-index: 1;
}

.navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333333;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.navbar-toggler.open span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.navbar-toggler.open span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler.open span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.navbar .navbar-nav {
    margin-left: auto;
    /* background-color: white; */
}

.navbar .navbar-nav .nav-link {
    font-family: 'Noto Sans';
    color: black;
    font-size: 1rem;
    margin-left: 20px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #555;
}

.navbar-collapse.open{
    background: linear-gradient(to right, relative,transparent);
}