*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: white;
}

div.topBar{
    height: 80px;
    width: calc(100%);
    background-size: cover;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}


 .TheLogo h1{
    position: relative;
    color: white;
    left: 20px; 
}

.navigators{
   justify-content: space-around;    
}

.navigators nav ul{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 15cm;
    justify-content: space-around;
}

.navigators nav ul li{
    list-style-type: none;
    align-content: center;
}

.navigators nav ul li a{
    text-decoration: none;
    color: white; 
    font-weight: 700;
}

div.par1{
    margin-top: calc(100%-100px);
    height: 600px;
    justify-content: space-around;
    width: 100%;
    display: flex;
    background-image: url('../assets/mentalHealth2.jpg');
}

div.par1 p{
    font-size: 5em;
    color: rgb(6, 46, 19);
    font-weight: 700;
    margin-top: 80px;
    text-align: center;
    margin-left: 30px;
}

div.parAbt h5{
    font-size: 3em;
    color: rgb(6, 46, 19);
    font-style: italic;
    font-weight: 500;
    margin-left: 30px;
}

div.parAbt p{
    margin-top: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-decoration: dashed;
    padding: 10px;
    font-weight: 500;
}

div.pics{
    justify-content: space-around;
    padding: 20px;
    align-content: center;
    grid-template-columns: repeat(autofit, minmax(250px, 1fr));

}

div.pics span img{
    border-radius: 50%;
    margin-right: 7px;
    
}
section{
    border: 0.5px solid rgb(6, 46, 19); 
    border-radius: 3px;
}
div.arc{
    display: flex;
    flex-direction: row;
    background-image: url('../assets/award_Man.png');
    background-size: cover;
    height: 700px;
}

div.arcTitle p{
    font-size: 5em;
    color: rgb(6, 46, 19);
    font-weight: 700;
    margin-top: 80px;
    text-align: center;
    margin-left: 30px;
}

div.arc1{
    width: 50%;
    border-right: 1px solid yellowgreen;
    border-radius: 2px;

}

div.arc1 span{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.arc1 span img{
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

div.arc1 span p{
    font-weight: 500;
    color: rgb(6, 46, 19);
}

div.arc2{
    width: 50%;
    padding: 50px;
    margin-top: 10%;
    
}

div.arc2 p{
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    color: rgb(6, 46, 19);
}

footer{
    height: 100px;
    background: green;
    padding: 40px;
}

footer p{
    text-align: center;
    font-weight: 500;
    color: white;
}

@media only screen and (max-width: 1024px){
    div.topBar{
        margin-top: 0;
        height: 80px;
        width: 100;
        background-size: cover;
        background-color: green;
        text-align: center;
        align-items: center;
        position: fixed;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    }
    
  
    div.TheLogo h1{
        position: relative;
        left: 70%;  
        width: 100%;
        text-align: center; 
    }

    .navigators{
        display: none;  
     }
    
     div.par1{
        background-image: url('../assets/mentalHealth2.jpg');
        background-size: 1024px;
    }
    
    div.par1 p{
        font-size: 4em;
        color: rgb(6, 46, 19);
        font-weight: 700;
        margin-top: 80px;
        text-align: center;
        margin-left: 30px;
    }
    div.pics span img{
        border-radius: 50%;
        margin-right: 10px;
        width: 10rem;
        height: 10rem;
        
    }
    div.arc{
        display: flex;
        flex-direction: column;
        background-image: url('../assets/award_Man.png');
        background-size: cover;
        height: auto; 
    }
    div.arcTitle p{
        font-size: 3em;
        color: rgb(6, 46, 19);
        font-weight: 700;
        margin-top: 80px;
        text-align: center;
        margin-left: 30px;
        width: auto;
    }
    
    div.arc1{
        width: 100%;
    }
    div.arc2{
        width: 100%;
        padding: 50px;
    }
    footer{
        
        background: green;
        padding: 40px;
        bottom: 0;
    }
    section{
        border: 0.5px solid rgb(6, 46, 19); 
        border-radius: 3px;
        width: auto;
    }
}
@media only screen and (max-width: 370px){
       
    div.TheLogo h1{
        position: relative;
        left: 50%;  
        width: 100%;
        text-align: center; 
    }
    div.par1 p{
        font-size: 3em;
        text-align: center;
    }
    div.parAbt h5{
        font-size: 2em;
    }
    div.par1{
        background-image: url('../assets/mentalHealth2.jpg');
        background-size: 330px 410px;
        height: 300px;
    }
    div.arcTitle p{
        font-size: 2.5em;
        width: auto;
    }
}
@media only screen and (max-width: 280px){
    
    div.TheLogo h1{
        position: relative;
        left: 30%;  
        width: 100%;
        text-align: center; 
    }
    div.par1 p{
        font-size: 3em;
        text-align: center;
    }
    div.parAbt h5{
        font-size: 2em;
    }
    div.par1{
        background-image: url('../assets/mentalHealth2.jpg');
        background-size: 330px 410px;
        height: 300px;
    }

    div.arcTitle p{
        font-size: 2em;
        width: auto;
    }
}
@media only screen and (max-width: 430px){
    div.par1{
        background-image: url('../assets/mentalHealth2.jpg');
        background-size: 330px 410px;
        height: 300px;
    }
    div.arcTitle p{
        font-size: 2.5em;
        width: auto;
    }
    div.TheLogo h1{
        position: relative;
        left: 60%;  
        width: 100%;
        text-align: center; 
    }
    div.par1 p{
        font-size: 3em;
        text-align: center;
    }
    div.parAbt h5{
        font-size: 2em;
    }
}