/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
/*General*/


*{
    margin: 0;
    padding: 0;
    border:none;
    /* box-sizing: border-box; */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: black;
    background-image: url("../../assets/closeFace.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity as needed */
}

.hero-section-content {
    position: relative;
    z-index: 1;
}

.hero-section h1 {
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;
}

.hero-section p {
    font-family: 'Diphylleia';
    font-size: 1.2rem;
    font-style:italic;
    margin-bottom: 2rem;
    color: white;
}

.hero-section .btn {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.2rem;
}



.section {
    position: relative;
    height: 100vh;
}



.section-content {
    position: relative;
    z-index: 1;
}

.navbar {
    background-color: white;
    height: 50px;
    /* border-bottom: 1px solid #ddd; */
    /* padding: 10px 20px; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.hero-navbar {
    /* Add your desired styles for the navbar on the hero-section page */
    background-color: transparent;
    color: white;
  }
  

.navbar.hidden {
    opacity: 0;
    visibility: hidden;
}

.navbar .navbar-brand {
    font-family: 'Dancing Script';
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-toggler {
    display: block;
    cursor: pointer;
    /* padding: 10px; */
    background-color: transparent;
    border: none;
    z-index: 1;
}

.navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333333;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.navbar-toggler.open span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.navbar-toggler.open span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler.open span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.navbar .navbar-nav {
    margin-left: auto;
}

.navbar .navbar-nav .nav-link {
    font-family: 'Noto Sans';
    color: black;
    font-size: 1rem;
    margin-left: 20px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #555;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #555;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}






/* WHAT IS MENTAL HEALTH SECTION *START* */

section.what_is_mhealth{
    /* background: linear-gradient(to bottom, white,white,rgb(131, 255, 100)); */
    margin: 0 0 100px;
}


section.what_is_mhealth div.head{
    text-align: center;
    font-family: 'Roboto';
}

section.what_is_mhealth div.head h2{
    font-size: 1.3em;
    font-weight: bold;
}

section.what_is_mhealth h4.title{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
}

p,ul{
    margin: 0 0 15px;
    /* padding: 15px; */
}

section.what_is_mhealth div.main-content{
    font-family: 'Roboto';
    padding: 15px;
}

section.what_is_mhealth div.subs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.what_is_mhealth div.subs div.sub-left,div.sub-right{
    width: 98%;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.573);
}


section.what_is_mhealth div.subs div.line{
    width: 80%;
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
}

/* section.what_is_mhealth div.subs div.sub-right{
    padding: 15px
    width
} */

section.what_is_mhealth div.subs div.sub-right ul{
    padding: 15px
}

@media screen and (min-width: 720px) {
    section.what_is_mhealth div.main-content{
        width: 85%;
        /* background-color: greenyellow; */
        margin: 0 auto;

        text-align: center;
    }

    p.title{
        margin-bottom: 0;
    }

    section.what_is_mhealth div.subs{
        width: 85%;
        /* background-color: gold; */
        margin: 0 auto;
    }

    section.what_is_mhealth div.subs{
        flex-direction: row;
        justify-content: space-around;
    }

    section.what_is_mhealth div.subs div.line{
        width: 3px;
        height: 400px;
        background-color: rgb(70, 70, 70);
        border-radius: .2em;
        /* margin-bottom: 10px; */
    }

    section.what_is_mhealth div.subs div.sub-left,div.sub-right{
        width: 45%;
        box-shadow: none;
    }

}
/* WHAT IS MENTAL HEALTH END  */



/* MENTAL HEALTH CONDITIONS START */
/* lets start with mobile design first */
section.mhealth_conditions{
    margin: 0 0 100px;
}

section.mhealth_conditions div.head{
    text-align: center;
    margin: 20px 0 40px;
    font-family: 'Lobster';
}

section.mhealth_conditions div.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}

section.mhealth_conditions div.cards div.card {
    font-family: 'Diphylleia';
    width: 93%;
    height: 500px;
    min-width: 300px;
    margin: 5px auto 15px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.6);
    border-radius: .3em;
    cursor: pointer;

    display: flex;
    flex-direction: column;
}

section.mhealth_conditions div.cards div.card div.img {
    background-color: red;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    margin-bottom: 0;
}

section.mhealth_conditions div.cards div.card div.img1{
    background-image: url('../assets/anxiety.jpg');
}

section.mhealth_conditions div.cards div.card div.img2{
    background-image: url('../assets/depression.jpg');
}

section.mhealth_conditions div.cards div.card div.img3{
    background-image: url('../assets/bpd.jpg');
}

section.mhealth_conditions div.cards div.card div.content {
    padding-top: .4em;
    padding: 15px;
    transition: .25s ease;
}

section.mhealth_conditions div.cards div.card div.content p.title{
    /* color: red; */
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0;
    color: black;
    
}

section.mhealth_conditions div.cards div.card div.content:hover {
    background-color: rgb(0, 0, 0, 1);
    color: #fff;
    cursor: copy;

}

section.mhealth_conditions div.cards div.card div.content div.link {
    margin-top: 1em;
    text-align: center;
}

section.mhealth_conditions div.cards div.card div.content div.link a {
    text-decoration: none;
    color: white;
}

section.mhealth_conditions div.cards div.card div.content div.link a:hover {
    text-decoration: none;
    color: white;
}


section.mhealth_conditions div.prologue {
    width: 95%;
    margin: 30px auto 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section.mhealth_conditions div.prologue p {
    font-family: 'Diphylleia';
    font-size: 1.1em;
    font-weight: 600;
    color: #000000;
    padding: 20px;
    text-align: center;
}


@media screen and (min-width: 720px) {

    section.mhealth_conditions div.cards {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }

    section.mhealth_conditions div.cards div.card {
        width: 350px;
        height: 500px;
    }


    section.mhealth_conditions div.cards div.card div.content {
        height: 300px;
    }

    section.mhealth_conditions div.prologue {
        width: 80%;
    }

}

/* MENTAL HEALTH CONDITION END */






/* PHILES'S PART START HERE */


/* lets start with mobile design first */

div#head-philes{
    font-family: 'Lobster';
    text-align: center;
    margin-bottom: 30px;
}

section.cards {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 10px 0 10px;
}

section.cards div.card {
    font-family: 'Diphylleia';
    /* background-color: green; */
    /* width: 350px; */
    width: 93%;
    min-width: 300px;
    height: 500px;

    /* padding: 10px; */

    margin: 5px auto 15px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.6);
    border-radius: .3em;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    /* transition: 5s ease-in; */
    /* overflow: scroll; */
}

section.cards div.card div.img {
    background-color: red;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
}

section.cards div.card div.img1{
    background-image: url('../assets/Sleeping-cat.jpg');
}

section.cards div.card div.img2{
    background-image: url('../assets/Social-media.jpg');
}

section.cards div.card div.img3{
    background-image: url('../assets/Relationships-1.jpg');
}

section.cards div.card div.img4{
    background-image: url('../assets/Exercise-1.jpg');
}

section.cards div.card div.img5{
    background-image: url('../assets/Nutrients.jpg');
}

section.cards div.card div.img6{
    background-image: url('../assets/Easy-1.jpg');
}


section.cards div.card div.content {
    padding-top: .4em;
    padding: 15px;
    transition: .25s ease;
}

section.cards div.card div.content p.title{
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: bold;
}

section.cards div.card div.content:hover {
    background-color: rgb(0, 0, 0, 1);
    color: #fff;
    cursor: copy;

}

section.cards div.card div.content div.link {
    margin-top: 1em;
    text-align: center;
}

section.cards div.card div.content div.link a {
    text-decoration: none;
    color: white;
}

section.cards div.card div.content div.link a:hover {
    text-decoration: none;
    color: white;
}

section.cards-add-none {
    /* background-color: blue; */
    /* display: flex; */
    display: none;
}

/* section.cards-add::after{
    transition: 1s ease-in;
} */

section.cards-add {
    /* transition: 1s ease-in; */
    display: flex;
    /* margin-bottom: 100px; */
}

div.prologue {
    font-family: 'Diphylleia';
    /* background-color: blue; */
    width: 95%;
    /* padding: 20px; */
    margin: 30px auto 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.prologue p {
    padding: 20px;
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;
}

div.prologue button {
    background-color: white;
    border-radius: .3em;
    border: 1px solid black;
    width: 150px;
    height: 40px;
    transition: .2s;
    box-shadow: 0 0 5px black;
}

div.prologue button:hover {
    background-color: black;
    color: white;
}

@media screen and (min-width: 720px) {

    section.cards {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }

    section.cards div.card {
        width: 350px;
        height: 500px;
    }

    section.cards div.card div.content{

        height: 300px;
    }

    div.prologue {
        width: 80%;
    }

}


/* PHILES'S PART END HERE */



/* SUPPORT & RESOURCE SECTIONS */

/* Support Section */


.support {
    /* background-color: red; */
    height: 100vh;
    padding: 80px 0 10px;
    /* margin-bottom: 50px; */
    /* background-color: #f5f5f5; */
    /* background-color: blue; */
  }

  #support{
    /* background-color: red; */
    padding: 0;
    margin: 0;
  }

  .supp-contain{
    /* background-color: red; */
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  
  .support h2 {
    font-family: 'Lobster';
    font-size: 2r.3em;
    font-weight: 700;
    margin-bottom: 70px;
    color: #333333;
  }
  
  .support .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
section.support div.container div.resources {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 50px; */
    /* background-color: red; */
  }
  
  .resource-category {
    width: 98%;
    /* background-color: blue; */
    border-radius: .4em;
    flex: 0 0 31%;
    margin-bottom: 50px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    text-align: center;
  }
  
  .resource-category h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .resource-category ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
  }
  
  .resource-category li {
    margin-bottom:10px;
}  

.resource-category li a {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  text-decoration: none;
  transition: color 0.2s ease;
}

.resource-category li a:hover {
  color: #333333;
}

.resource-category .where-to-get {
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  margin-top: 20px;
}

.support-group {
  margin-bottom: 50px;
}

.support-group h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333333;
}

.support-group p {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 20px;
}

.support-group ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.support-group li {
  margin-bottom: 10px;
}

.support-group li a {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  text-decoration: none;
  transition: color 0.2s ease;
}

.support-group li a:hover {
  color: #333333;
}

.support-hotline {
  margin-bottom: 50px;
}

.support-hotline h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333333;
}

.support-hotline p {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 20px;
}

.support-hotline ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.support-hotline li {
  margin-bottom: 10px;
}

.support-hotline li a {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  text-decoration: none;
  transition: color 0.2s ease;
}

.support-hotline li a:hover {
  color: #333333;
}

.support-chat {
  margin-bottom: 50px;
}

.support-chat h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333333;
}

.support-chat p {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 20px;
}

.support-chat ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.support-chat li {
  margin-bottom: 10px;
}

.support-chat li a {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  text-decoration: none;
  transition: color 0.2s ease;
}

.support-chat li a:hover {
  color: #333333;
}

@media (max-width: 768px) {
    .resources {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .support {
        height: 150vh;
        padding: 80px 0;
        background-color: #f5f5f5;
      }

      .resources {
        display: flex;
        align-items: center;
        justify-content: space;
        flex-wrap: wrap;
        margin-top: 50px;
      }
}

.supp-groups{
  background-color: #14A44D;
}

.crisis{
  background-color: #d12d36;
}

.mental-orgs{
  background-color: #54B4D3;
}

.mental-orgs h3,.crisis h3,.supp-groups h3, .crisis ul li a, .supp-groups ul li a,.mental-orgs ul li a{
  color: white;
}


.chat{
  padding: 20px;
  border-radius: .4em;
  background-color: black;
  color: white;
}

.chat h3,p{
  margin: 0 0 10px;
}

/* Support Section End */





/* Resources Section */

section.resources{
    padding: 40px 0 10px;
    /* background-color: #ffffff; */
    background-color: rgb(34, 34, 34);
    margin-bottom: 20px;
  }

  .res-contain{
    background-color: transparent;
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  
  .resources h2 {
    font-family: 'Lobster';
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    /* color: #333333; */
    color: #fff;
  }
  
  .resources .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .resource-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .category {
    width: 98%;
    /* background-color: blue; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: .4em;
    flex: 0 0 31%;
    margin-bottom: 50px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    text-align: center;
    background-color: white;
}
  
  .category h3 {
    font-family: 'Lobster';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333333;
    /* color: #fff; */
  }
  
  .category ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
  }
  
  .category li {
    margin-bottom: 10px;
  }
  
  .category li a {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    /* color: #fff; */
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .category li a:hover {
    color: #333333;
    /* color: #000000; */
  }
  
  .category .where-to-get {
    font-size: 14px;
    line-height: 20px;
    color: #999999;
    margin-top: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .resource-categories {
      flex-direction: column;
    }
  
    .category {
      flex: 0 0 100%;
      margin-bottom: 30px;
    }
  }

  /* Resources Section End */

/* SUPPORT & RESOURCE SECTION END */

/* FOOTER SECTION START HERE */
.footmain{
    width: 100vw;
    /* height: 100vh; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

iframe{
    width: 95%;
    height: 50vh;
    margin: 20px 0 40px;
}

.form-cont{
    /* background-color: blue; */
    width: 95%;
    font-family: 'Noto Sans';
}

footer{
    background-color: black;
    padding-bottom: 30px;

    color: white;
    display: flex;
    flex-direction: column;
}

.quick-links{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 50%;
}

    
footer ul.quick-links{
    /* display: flex; */
    /* font-family: 'Noto Sans'; */
    flex-direction: column;
    flex-wrap: wrap;
}

.foot-start{
    padding: 7px;
}

.foot-start{
    /* background-color: green; */
    font-family: '';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.final-foot{
    font-family: 'Noto Sans';
    text-align: center;
    /* background-color: red; */
    margin: 0 auto 10px;
    width: 85%;
    font-size: .9em;
}

h6{
    font-weight: 900;
    /* text-align: center; */
    color: white;
}

footer ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: rgb(205, 205, 205);
    font-size: .9em;
}








@media screen and (min-width: 850px) {
    /* Styles for large screens */
    /* Add your CSS rules here */

    .footmain{
        padding: 30px 0 0;
        height: 75vh;
        /* background-color: blue; */
        flex-direction: row;
        margin: 0 0 30px;
    }

    iframe{
        width: 45%;
        height: 100%;
        border-radius: .3em;
    }
    
    .form-cont{
        width: 40%;
        height: 90%;
    }

    footer{
        /* margin: 5px 0 0 ; */
        /* padding-bottom: 10px; */
        background-color: rgba(0, 0, 0, 0.92);
        height: 40vh;
        padding-bottom: 0px;
    
        color: white;
        display: flex;
        flex-direction: column;
    }
    
    .quick-links{
        display: flex;
        flex-wrap: wrap;
    }

    .foot-start{
        padding: 7px;
        flex-direction: row;
        
    }

    .foot-start{
        /* background-color: green; */
        font-family: 'Noto Sans';
        display: flex;
        height: 60%;
        justify-content: space-around;
    }

    .final-foot{
        text-align: center;
        background-color: red;
        margin: 0 auto 0;
        width: 50%;
    }

}


/* FOOTER SECTION ENDS HERE */