
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-image: url("../assets/closeFace.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-section-content {
  position: relative;
  z-index: 1;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: rgb(212, 212, 212);
}

.hero-section .btn {
  font-size: 1.2rem;
}

.section {
  position: relative;
  height: 100vh;
}

.section-content {
  position: relative;
  z-index: 1;
}

.navbar {
  /* background-color: #fff; */
  /* border-bottom: 1px solid #ddd; */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar-toggler {
  color: #333;
  border-color: #333;
  margin-right: 5px;
}

.navbar .navbar-nav {
  margin-left: auto;
}

.navbar .navbar-nav .nav-link {
  /* color: #333; */
  color: white;
  font-size: 1rem;
  margin-left: 20px;
}

.navbar .navbar-nav .nav-link:hover {
  color: #555;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #555;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}


@media screen and (max-width: 767px){
    .hero-section {

  color: black;
  background-color: rgb(0, 0, 0);
  /* background-image: none; */
  background-image: url("../assets/closeFace.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
}



/* WHAT IS MENTAL HEALTH SECTION *START* */

section.what_is_mhealth{
    background: linear-gradient(to bottom, white,white,rgb(131, 255, 100));
}


section.what_is_mhealth div.head{
    text-align: center;
}

section.what_is_mhealth h4.title{
    margin-bottom: 5px;
}

p,ul{
    margin: 0 0 15px;
    /* padding: 15px; */
}

section.what_is_mhealth div.main-content{
    padding: 15px;
}

section.what_is_mhealth div.subs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.what_is_mhealth div.subs div.sub-left,div.sub-right{
    width: 98%;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.573);
}


section.what_is_mhealth div.subs div.line{
    width: 80%;
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
}

/* section.what_is_mhealth div.subs div.sub-right{
    padding: 15px
    width
} */

section.what_is_mhealth div.subs div.sub-right ul{
    padding: 15px
}

@media screen and (min-width: 720px) {
    section.what_is_mhealth div.main-content{
        width: 85%;
        /* background-color: greenyellow; */
        margin: 0 auto;

        text-align: center;
    }

    p.tit{
        margin-bottom: 0;
    }

    section.what_is_mhealth div.subs{
        width: 85%;
        /* background-color: gold; */
        margin: 0 auto;
    }

    section.what_is_mhealth div.subs{
        flex-direction: row;
        justify-content: space-around;
    }

    section.what_is_mhealth div.subs div.line{
        width: 3px;
        height: 400px;
        background-color: rgb(70, 70, 70);
        border-radius: .2em;
        /* margin-bottom: 10px; */
    }

    section.what_is_mhealth div.subs div.sub-left,div.sub-right{
        width: 45%;
        box-shadow: none;
    }

}
/* WHAT IS MENTAL HEALTH END  */